<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Adyen\Payment\Gateway\Request\OriginDataBuilder">
        <plugin name="tapbuy_adyen_origin_data_builder_plugin" 
                type="Tapbuy\Adyen\Plugin\OriginDataBuilderPlugin"
                sortOrder="10"/>
    </type>
    
    <!-- Inject centralized Tapbuy Logger via interface (resolved via preference in redirect-tracking) -->
    <type name="Tapbuy\Adyen\Plugin\OriginDataBuilderPlugin">
        <arguments>
            <argument name="logger" xsi:type="object">Tapbuy\RedirectTracking\Api\LoggerInterface</argument>
        </arguments>
    </type>
</config>